    <!-- Intro Header -->
    <header class="intro">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">暂存灵魂</h1>
                        <p class="intro-text">In the beginning God created the heaven and the earth.<br>And the earth was without form, and void; and darkness was upon the face of the deep.And the Spirit of God moved upon the face of the waters.</p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>